body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #832161;
}
h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.fa {
  font-size: 70px;
}
.searchForm {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}
.searchForm button {
  outline: none;
  margin-right: auto;
  background-color: #fdbb1c;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.45em 0.45em 0;
  cursor: pointer;
}
input {
  font-size: 1em;
  width: 80%;
  margin-left: auto;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}
.mainNav li {
  width: 60%;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.mainNav a {
  display: block;
  background: #DA4167;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}
.mainNav .active,
.mainNav a:hover,
.searchForm button:hover {
  background-color: #ca9516;
}
.photoContainer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.photoContainer ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}
.photoContainer ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}
.photoContainer li:hover img {
  transform: scale(1.65);
}
.photoContainer .not-found {
  width: 100%;
}

@media only screen and (min-width: 525px) {
  .mainNav li {
    width: 45%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }
  .photoContainer li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }
  input {
    width: 100%;
  }
  .container {
    max-width: 960px;
    margin: auto;
  }
  .mainNav ul {
    display: flex;
    justify-content: center;
  }
  .mainNav li {
    margin: 10px;
    width: 100px;
  }
}
